.flex-column
{
    border: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(17, 124, 124);
}
.nav-link
{
    border-radius: 20px;
    box-shadow: 5px 5px aqua;
    margin: 5px;
}
.nav-link 
{
    color: white;
    background: rgb(164, 22, 22);
}
.tab-content .fade
{
   margin-right: 10px;
}